@import "tailwindcss";

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  /* Cire background fari na body domin Dark Mode ya yi aiki */
}

html {
  scroll-behavior: smooth;
}
